#construction {
    color: white;
    text-align: center;
    margin: 150px auto;
}

#construction p {
    font-family: monospace;
    font-size: 12px;
    letter-spacing: -0.3pt;
    padding: 40px;
}

#construction a {
    text-decoration: underline;
}

#construction .image-wrapper {
    padding: 10px;
    max-width: 300px;
    margin: 0px auto;
}

@media only screen and (max-width: 500px) {
    #construction p {
        font-size: 9px;
    }
}

