* {
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
  background-color: #ffffff;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", serif;
  letter-spacing: -0.09em;
  line-height: 1;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 24pt;
  font-style: italic;
  font-weight: 400;
}

h3 {
  font-size: 18pt;
}

p, li {
  color: #222222;
  font-family: "Times New Roman", serif;
  text-transform: lowercase;
  font-size: 14pt;
  letter-spacing: -0.04em;
}

a {
  text-decoration: underline;
  color: #427545;
}

#front {
  margin: 100px 0px;
  max-width: 600px;
}

.paragraph-block {
  margin: 20px 0px;
}

.paragraph-block p {
  margin: 10px 0px;
  text-transform: none;
}

@media only screen and (max-width: 500px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 14pt;
  }

  p {
    font-size: 12pt;
  }
}