header {
  margin: 50px 0px;
  display: flex;
}

#logo {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  max-height: 100px;
  margin-right: 20px;
  padding: 5px;
  border: 2px dashed black;
}

header p {
  max-width: 400px;
  line-height: 1
}