#logo-and-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-wrapper {
    padding: 10px 20px;
    max-width: 300px;
    margin: 0px auto;
}

#video-broadcast {
    display: flex;
    justify-content: center;
}

#contact {
    text-align: center;
}

iframe {
    border: 5px solid white;
}

@media only screen and (max-width: 600px) {
    #logo-and-description {
        flex-direction: column;
    }
}